.bgr-home {
    background-image: url('../img/background/header.png');
    background-position: center;
    background-size: cover;
    min-height: 16rem;
    margin-top: 61px;
}

.middle-form {
    min-height: 500px;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}
  /* Track */
.custom-scroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
  }

.custom-scroll:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.062);
}
  /* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
  }

.custom-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.144); 
}
  /* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #00000057; 
  }

.rmsc .dropdown-container{
  border-radius: 0 9999px 9999px 0 !important;
}

.rmsc {
  border-radius: 0 9999px 9999px 0;
}